.appHeader {
    padding: 5px;
    color: hsla(0,0%,100%,0.75);
    background-color: #24292e;
}

.headerTitle {
    text-decoration: none;
    color: #605ece;
    font-size: .7rem;
}

.headerTitle:hover {
    color: #4946dd;
    transition: 4ms ease-in all;
}