.repo {
    border: solid 1px #bac0c5;
    border-radius: 4px;
    margin: 1rem;
    height: 150px;
}

.repo a {
    text-decoration: none;
}

.repoInfo {
    display: flex;
    justify-content: center;
}
.repoItem {
    margin: .5rem;
}

.repoDesc, .repoItem  {
    font-size: 12px;
    color: #6a737d;
}

.repoIcon  {
    font-size: 18.5px;
}

.link:hover, .repoTitle {
    color: #2f69e5;
}

.repoTitle:hover {
    text-decoration: underline;
}