.app {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', sans-serif;
}

.appHeader {
    padding: 10px;
    color: #605ece;
    background: #252525;
}