.navBar {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: .5em;
}

.navBar a {
    margin: 1em;
    font-size: 16px;
    text-decoration: none;
    color: #252525;
}

.navBar span {
    padding: 2px 5px;
    font-size: 12px;
    font-weight: 600;
    color: #252525;
    background-color: #605ece7e;
    border-radius: 20px;
}

.profileNav {
    border-bottom: solid 1px #d1d5da;
}

@media screen and (max-width: 600px) {
    .navBar a {
        font-size: 13px;
    }

    .navBar span {
        padding: 1px 3px;
        font-size: 10px;
    }
}